@import url(../LinkedFiles/Color.css);
body {
  background-color: var(--Whitest);
}
main {
  width: 100vw;
  height: 80vh;
}
main .AdminEditBox {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
}
main .AdminEditElementContaner {
  width: 40vw;
  height: 78vh;
  backdrop-filter: blur(0.2vw);
  background: var(--Grayes);
  border-radius: 3vw;
  position: relative;
  top: 2vw;
  left: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
main .AdminEditElementContaner h2 {
  text-align: center;
  position: relative;
  top: 2vw;
  color: var(--Whitest);
}
main .AdminEditElementContaner input {
  width: 30vw;
  height: 0;
  padding: 1vw;
  border-radius: 0.5vw;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid var(--Whitest);
  margin-left: 5vw;
  float: right;
  transform: scale(0.95);
  padding-right: 3.7vw;
  transition: all 0.3s;
}
label {
  display: flex;
  align-items: center;
  height: 7vh;
  position: relative;
  z-index: 100;
}
main .AdminEditElementContaner .AdminInstitutNameLabel input {
  position: relative;
  right: 1.1vw;
}
main .AdminEditElementContaner input:focus {
  outline: none;
  border-bottom: 3px solid var(--SkyBlues);
  height: 4vw;
  background-color: white;
  transform: scale(1);
}
input::placeholder {
  color: rgb(127, 180, 240);
}
main .AdminEditElementContaner .AdminEditSubmitButton {
  padding: 1vw 2vw;
  border-radius: 1vw;
  border: none;
  position: relative;
  bottom: 3vw;
  transform: scale(0.97);
  background-color: var(--SkyBlues);
}
main .AdminEditElementContaner .AdminEditSubmitButton:hover {
  transform: scale(1);
}
main .AdminEditElementContaner .AdminEditSubmitButton:active {
  transform: scale(0.98);
}
i {
  top: .1vw;
  color: var(--Grayes);
}
.FocusonIcons {
  top: 1vw !important;
}
input.Focused {
  outline: none !important;
  height: 4vw !important;
  background-color: var(--Whitest) !important;
  transform: scale(1) !important;
  transition: none !important;
}
.Focused:focus {
  border: none !important;
  border-bottom: 3px solid #3586ff !important;
}
label:nth-child(3) input,label:nth-child(4) input,label:nth-child(5) input{
  position: relative;
  right: 1vw;
}