@import url(../LinkedFiles/Color.css);

* {
  font-family: ArshnoorBold;
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url(../../Images/BackGround/StudentLogin.jpg); */
  background-color: var(--Whitest);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vw;
  overflow: hidden;
}
main .StudentAllLoginBox {
  position: relative;
  width: 50vw;
  height: 80vh;
  color: var(--Textcolor) !important;
  background-color: var(--Grayes);
  backdrop-filter: blur(4px);
  border-radius: 3vw;
  display: grid;
  gap: 5vw 1vw;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  padding: 4vw 3vw;
}
main .StudentAllLoginBox .StudentLoginPreviewBox {
  width: 10vw;
  height: 10vw;
  border-radius: 2vw;
  background-color: var(--Whitest);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}
main .StudentAllLoginBox .StudentLoginPreviewBox:hover {
  outline: 2px solid #1a1919bb;
}
.StudentLoginPreviewBox:active {
  transform: scale(0.97);
}
main .StudentAllLoginBox .StudentLoginPreviewBox img {
  display: inline-block;
  width: 5vw;
}
main .StudentAllLoginBox .StudentLoginPreviewBox .StudentLoginHadding,
main span {
  display: inline-block;
}

.StudentLoginPenal {
  transition: all 0.3s;
  /* display: none; */
}
.Loginback,
.AdminBack {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  cursor: pointer;
  /* background-color: var(--Whitest); */
}
.Loginback {
  display: none;
}
.PenalLoginDisplayFlex {
  padding: 0px 7vw;
}
.PenalLoginDisplayFlex,
.AdminLoginPenal {
  transition: margin 1s;
  display: flex !important ;
  width: 30vw;
  height: 30vw;
  border-radius: 4vw;
  position: relative;
  /* margin-left: 7vw; */
  /* top: -2vh; */
  float: right;
  background-color: var(--Grayes);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid var(--SkyBlues);
  color: var(--Whitest);
}
@keyframes StudentLogin {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 7vw;
  }
}
.StudentLoginPenal img {
  border-radius: 50%;
  width: 8vw;
  /* mix-blend-mode: darken; */
  height: 8vw;
  position: relative;
  top: -3vw;
}
.StudentLoginPenal h3 {
  position: relative;
  top: -2vw;
}
.StudentLoginPenal input[type="password"],
.StudentLoginPassword,
.AdminLoginPassword,
.AdminLoginUsername {
  width: 20vw;
  height: 3vw;
  border-radius: 0.5vw;
  border: none;
  padding: 1vw;
  transition: 0.1s;
  padding-right: 2.6vw;
}
.StudentLoginPenal input[type="password"]:focus,
.StudentLoginPassword:focus,
.AdminLoginUsername:focus,
.AdminLoginPassword:focus {
  outline: 2.5px solid var(--SkyBlues);
}
.StudentLoginPenal button,
.AdminLoginButton,
.AdminLogindisplayBtn {
  padding: 1vw 2vw;
  border-radius: 1vw;
  border: none;
  position: relative;
  top: 1.5vw;
  color: var(--InputOutlineColor1);
  background-color: var(--SkyBlues);
  cursor: pointer;
}
.StudentLoginPenal button:active {
  transform: scale(0.97);
}
.StudentLoginPenal button:hover {
  outline: 1px solid var(--ButtonOutlineColor1);
}
i {
  color: var(--Grayes);
}
.adminIcon {
  background-color: var(--Whitest);
  color: var(--Grayes);
  font-size: 6vw;
  position: relative;
  bottom: 3vw;
  border-radius: 50%;
  padding: 1vw 1.5vw;
}
.AdminLoginPenalHadding {
  position: relative;
  bottom: 2vw;
}
.AdminLoginUsername {
  margin-bottom: 1vw;
}
@keyframes AdminPositionChange {
  0% {
    right: 0;
    display: flex;
  }
  100% {
    right: -12vw;
    display: none;
  }
}
.AdminLogindisplayBtn {
  padding: 1vw 2vw;
}
